// Place all the styles related to the stop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: Verdana, Geneva, sans-serif;
  color: #333;
}

$navy: #001F3F;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$fuch: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;
$white: #FFFFFF;
$gray: #AAAAAA;
$silver: #DDDDDD;
$black: #111111;


a {
  transition: all .4s;
  color: $blue;
}

a:link,
a:visited { all : $blue; }
a:hover   {
  /*color: lighten($blue, 30);*/
  /*color: lighten($blue, 30);*/
  color: lighten($teal, 10);
  }
a:active  {
  transition: all .3s;
  color: darken($orange, 20);
}


div[data-react-class=AppRouter] {
  height: 100%;
  float: left;
}

#panel {
  background-image: asset-url("map.jpg");
  width: 350px;
  height: 100vh;
  float: left;
  overflow: auto;
  padding: 10px;
}

#map {
  height: 100%;
}

li.stop {
  margin-bottom: 10px;
}

ul.route-links {
  list-style: none;
  padding-left: 10px;
  li {
    display: inline;
    &:not(:last-child)::after {
      content: ', ';
    }
  } 
}

a.route-link {
  &:not(:last-child)::after {
    content: ', ';
  }
}

.route-datum {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.stop-delta-info {
  margin-left: 20px;
}

ul.dictionary-list {
  margin: 3px 0 0 7px;
  list-style-type: none;
  padding: 0;
  font-size: 13px;
  li {
    margin-bottom: 2px;
  }
  span.term {
    min-width: 65px;
    float: left;
    padding-right: 10px;
    font-weight: bold;
    color: #666;
    &:after {content: ': '; }
  }
}

ul.stop-list {
  margin-left: 0;
  padding-left: 5px;
  list-style-type: none;
  & > li {
    margin-left: 0;
    margin-bottom: 10px;
  }
  li.stop-cross-street {
    font-weight: bold;
  }
}

.stop-detail {
  text-transform: lowercase;
  a.stop-cross-street {
    font-weight: bold;
    font-style: italic;
    font-size: 13px;
  }
}

h4 {
  display: block;
  width: 100%;
  border-bottom: 1px solid #000;
}
