// Place all the styles related to the stop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div[data-react-class=AppRouter] {
  height: 100%;
  float: left;
}

#panel {
  width: 300px;
  background: red;
  height: 100%;
  float: left;
}

#map {
  height: 100%;
}

