// Place all the styles related to the stop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div[data-react-class=AppRouter] {
  height: 100%;
  float: left;
}

#panel {
  width: 350px;
  height: 100vh;
  float: left;
  overflow: auto;
}

#map {
  height: 100%;
}

li.stop {
  margin-bottom: 10px;
}

ul.route-links {
  list-style: none;
  padding-left: 10px;
  li {
    display: inline;
    &:not(:last-child)::after {
      content: ', ';
    }
  }
}

.route-datum {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.stop-delta-info {
  margin-left: 20px;
}

ul.dictionary-list {
  list-style-type: none;
  padding: 0;
  span.term {
    padding-right: 10px;
    font-weight: bold;
    &:after {content: ': '; }
  }
}

ul.stop-list {
  margin-left: 0;
  padding-left: 5px;
  list-style-type: none;
  & > li {
    margin-left: 0;
    margin-bottom: 10px;
  }
  li.stop-cross-street {
    font-weight: bold;
  }
  li span.term {
    min-width: 75px;
    float: left;
  }
}

h4 {
  display: block;
  width: 100%;
  border-bottom: 1px solid #000;
}
